attrs==19.3.0
decorator==4.4.2
entrypoints==0.3
flake8==3.7.9
flake8-bugbear==20.1.4
flake8-todo==0.7
mccabe==0.6.1
-e git+git@github.com:zaccrites/myfpga.git@75771b02da1ca383affd5f082818c6ad793a98a3#egg=myfpga&subdirectory=toolchain
networkx==2.4
pkg-resources==0.0.0
pycodestyle==2.5.0
pyflakes==2.1.1
simanneal==0.5.0
